<%= render "layouts/flash_messages" %>
<div class="row form-group">
  <%= link_to "Editar Responsável", edit_guardian_path, class: "btn btn-primary" %>
  <button type="button" class="btn btn-default btn-danger" aria-label="Left Align" data-toggle="modal" data-target="#confirm-delete-modal">Remover Responsável</button>
 </div>
<div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
  <%= render 'people/show_person', person: @guardian.person %>
  <%= render 'addresses/show_address', address: @guardian.person.address unless @guardian.person.address.nil? %>
  <%= render 'documents/show_documents', document: @guardian.person.document unless @guardian.person.document.nil? %>

  <%= render 'kinships/show_kinships_students', path: guardian_show_students_path(@guardian, format: :json) %>
</div>


<%= render "delete_guardian_modal" %>