<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-school-data" aria-expanded="true" aria-controls="collapseOne">
        Dados Escolares
      </a>
    </h4>
  </div>
  <div id="collapse-school-data" class="panel-collapse collapse in" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="row panel-body">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row form-group">
            <%= student_form.label :school_class_id, 'Turma:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.collection_select(:school_class_id, @school_classes, :id, :number, {:include_blank => 'Selecione a Turma'}, class: "form-control") %>
            </div>
          </div>
          <div class="row form-group">
            <%= student_form.label :nis_number, 'Número NIS:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.text_field :nis_number, class: "form-control" %>
            </div>
          </div>
          <div class="row form-group">
            <%= student_form.label :entry_date, 'Data de Ingresso:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.date_field :entry_date, class: 'form-control date-mask' %>
            </div>
          </div>
          <div class="row form-group">
            <%= student_form.label :special_needs, 'Necessidades Especiais:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.text_field :special_needs, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row form-group">
            <%= student_form.label :teaching_step, 'Etapa/Modalidade de Ensino:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.text_field :teaching_step, class: "form-control" %>
            </div>
          </div>
          <div class="row form-group">
            <%= student_form.label :bolsa_familia, 'Bolsa Família:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.check_box :bolsa_familia %>
            </div>
          </div>
          <div class="row form-group">
            <%= student_form.label :notes, 'Observações:', class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= student_form.text_area :notes, class: "form-control"%>
            </div>
          </div>
        </div>
      </div>
      <div class="row panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render 'authorizations/panel_authorizations' %>
        </div>
      </div>
      <div class="row panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render 'additional_activities/panel_additional_activities' %>
        </div>
      </div>
    </div>
  </div>
</div>