<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-school_classes" aria-expanded="true" aria-controls="collapseOne">
        Turmas
      </a>
    </h4>
  </div>
  <div id="collapse-school_classes" class="panel-collapse collapse" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="row panel-body">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" id="school_classes-autocomplete" class="form-control" placeholder="Buscar Turma por número ou série/ano...">
        </div>
      </div>
      <div class="row panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td class="active">Nº da Turma</td>
                <td class="active">Sala</td>
                <td class="active">Série/Ano:</td>
                <td class="active">Ação:</td>
              </tr>
            </thead>
            <tbody id="table-school_classes">
              <% object.school_classes.each_with_index do |school_class, index| %>
              <tr>
                <input type="hidden" class="school_class_id" name="school_classes_ids[<%= index %>]" value="<%= school_class.id %>">
                <td><%= school_class.number %></td>
                <td><%= school_class.classroom %></td>
                <td><%= school_class.grade %></td>
                <td><a class="glyphicon glyphicon-remove remove-row">Remover</a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
