<%= render "layouts/flash_messages" %>
<div class="row form-group">
  <%= link_to "Editar Turma", edit_school_class_path, class: "btn btn-primary" %>
  <button type="button" class="btn btn-default btn-danger" aria-label="Left Align" data-toggle="modal" data-target="#confirm-delete-modal">Remover Turma</button>
 </div>
<div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
  <%= render 'show_school_class' %>
  <%= render 'teachers/show_teachers', path: school_class_show_teachers_path(@school_class, format: :json) %>
  <%= render 'students/show_students', path: school_class_show_students_path(@school_class, format: :json) %>
</div>

<%= render "delete_school_class_modal" %>