<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-identification" aria-expanded="true" aria-controls="collapseOne">
        Identificação
      </a>
    </h4>
  </div>
  <div id="collapse-identification" class="panel-collapse collapse in" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <img src="https://www.firespike.com/wp-content/uploads/2014/07/avatar_male_dark_on_clear_200x200.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="row">
          <label>Nome: </label>
          <span><%= person.name %></span>
        </div>
        <div class="row">
          <label>Telefone: </label>
          <span><%= person.phone %></span>
        </div>
        <div class="row">
          <label>Celular: </label>
          <span><%= person.cellphone %></span>
        </div>
        <div class="row">
          <label>Email: </label>
          <span><%= person.email %></span>
        </div>
        <div class="row">
          <label>Data de Nascimento: </label>
          <span><%= person.birthdate.strftime("%d/%m/%Y") unless person.birthdate.nil? %></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row">
          <label>Gênero: </label>
          <span><%= person.genre %></span>
        </div>
        <div class="row">
          <label>Etnia: </label>
          <span><%= person.ethnicity %></span>
        </div>
        <div class="row">
          <label>Nacionalidade: </label>
          <span><%= person.nationality %></span>
        </div>
        <div class="row">
          <label>Naturalidade: </label>
          <span><%= person.naturalness %></span>
        </div>
        <div class="row">
          <label>Religião: </label>
          <span><%= person.religion %></span>
        </div>
      </div>
    </div>
  </div>
</div>