<!DOCTYPE html>
<html>
<head>
  <title>Tcc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <section class="col-lg-2 menu">
    <%= render 'layouts/menu'%>
  </section>
  <section class="col-lg-10">
    <%= yield %>
  </section>
  <footer>
  </footer>
</body>
</html>
