<!DOCTYPE html>
<html>
<head>
  <title>Tcc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="board ">
    <div class="col-lg-2 menu">
      <%= render 'layouts/menu'%>
    </div>
    <div>
      <div class="header">
        <%= render 'layouts/header'%>
      </div>
      <div class="pages">
        <section class="min-height-pages">
          <%= yield %>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
